<button
  type="button"
  aria-label="Accessibility Issue"
  title={{violation.description}}
  style={{style}}
  class="toggle-accessibility-result" {{action "showDetails"}}>
</button>

<div class="accessibility-result-popover accessibility-result {{popOverPos}} {{if canShowDetails "show"}}" violation-id={{violation.id}} style={{popOverStyle}}>
  <div class="arrow" style={{arrowPos}}></div>
  <div class="accessibility-result-impact">
    <p>
      {{component impactIcon}}
    </p>
  </div>
  <div class="accessibility-result-content">
    <strong class="accessibility-result-title">{{violation.help}}</strong>
    <p class="accessibility-result-description">
      {{violation.description}}.
      <br><br>
      <a href={{violation.helpUrl}} target="_blank" rel="noopener">Read More</a>
    </p>
    <p class="accessibility-result-summary">
      <ul>
        {{#each failureSummary as |failures|}}
          {{failures}}
        {{/each}}
      </ul>
    </p>
  </div>
</div>

<div class="accessbility-result-overlay" style={{overlayPos}}></div>
