<button
  type="button"
  aria-label="Accessibility Issue"
  title={{violation.description}}
  style={{style}}
  class="toggle-accessibility-result" {{action "showDetails"}}>
</button>

<div class="accessibility-result-popover accessibility-result {{popOverPos}} {{if canShowDetails "show"}}" violation-id={{violation.id}} style={{popOverStyle}}>
  <div class="arrow {{impact}}" style={{arrowPos}}></div>
  <div class="accessibility-result-content">
    <h1>{{violation.help}}</h1>
    {{#if violation.component}}
      <span class="accessibility-result-component">{{violation.component}}</span>
    {{/if}}
    <p class="accessibility-result-description">
      {{violation.description}}. <a href={{violation.helpUrl}} target="_blank" rel="noopener">Read More</a>
    </p>
    <p class="accessibility-result-summary">
      <ul>
        {{#each failureSummary as |failures|}}
          {{failures}}
        {{/each}}
      </ul>
    </p>
  </div>
</div>

<div class="accessbility-result-overlay" style={{overlayPos}}></div>
