<div style={{style}} class="redDot" {{action "showDetails"}}></div>

<div class="accessTest-popover {{popOverPos}} {{if canShowDetails 'show'}}" violate-id="{{violate.id}}" style={{popOverStyle}}>
  <div class="arrow" style={{arrowPos}}></div>
  <h3 class="accessTest-popover-title">
      {{violate.help}}
  </h3>
  <div class="accessTest-popover-content">
      <div class="helpRow">
        <span class="label-title"> Description: </span>
        {{violate.description}}
      </div>
      <div class="helpRow">
        <span class="label-title"> Help Url : </span>
        <a href="{{violate.helpUrl}}" target="_blank" rel="noopener"> Help Url </a> </div>
      <div class="helpRow">
        <span class="label-title"> Impact: </span>
        {{violate.impact}}
      </div>
  </div>
</div>

{{yield}}
